@import "tailwindcss";
@config "../tailwind.config.cjs";

body {
  font-family: "Inter", sans-serif;
  color: #333333;
}

input:focus-visible {
  outline: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
