@import "tailwindcss";
@config "../tailwind.config.cjs";

body {
  font-family: "Inter", sans-serif;
  color: #333333;
}

input:focus-visible {
  outline: none;
}

@layer utilities {
  .section-top-spacing {
    margin-top: 70px;
  }

  .sub-bottom-spacing {
    margin-bottom: 26px;
  }
}
